body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
.LoginContainer {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  h1,h2,p {
    text-align: center;
  }
  
  input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  a {
    color: blue;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  .link{
    display: flex;
    justify-content: space-between;
  }

