.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f9fa;
  padding-top: 64px;
  overflow: hidden;

  .dashboard-content {
    display: flex;
    height: 100%;
  }
}
