.dashboard-drawer {
  position: fixed;
  top: 64px;
  left: 0;
  background-color: #f8f9fa;
  overflow-x: hidden;
  transition: width 0.3s ease;

  &.open {
    width: 250px;

    .drawer-content {
      padding: 16px;

      .MuiListItem-root {
        &:hover {
          background-color: #fff5e1;
        }

        &.active {
          background-color: #ffe6b3;

          .MuiListItemIcon-root {
            background-color: #ffe6b3;
            border-radius: 50%;
          }
        }
      }

      .MuiListItemIcon-root {
        margin-right: 16px; // Space between icon and text
        min-width: 40px;
      }
    }
  }

  &:not(.open) {
    width: 90px;

    .drawer-content {
      padding: 1px;

      .MuiListItem-root {
        display: flex;
        justify-content: center; // Center icons horizontally
        align-items: center;    // Center icons vertically
        flex-direction: column; // Arrange icons in a column

        &:hover {
          background-color: #fff5e1;
        }

        &.active {
          background-color: #ffe6b3;

          .MuiListItemIcon-root {
            background-color: #ffe6b3;
            border-radius: 50%;
          }
        }
      }

      .MuiListItemIcon-root {
        margin-bottom: 6px; // Add space between icons
        margin-top: 6px;    // Top space for consistent spacing
      }
    }
  }
}

// MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-1umw9bq-MuiSvgIcon-root{
//   viewBox:"0 0 24 24"
// }

#drawerIcon {
  margin-right: 0 !important; /* Or use a more specific selector */
}
